<div class="bg-info text-white text-center p-5">
    <h1>Web Designing</h1>
    <br><br>
    <a [routerLink]="['./html']" class="btn btn-success btn-lg">HTML</a><br><br>

    <a [routerLink]="['./css']" class="btn btn-danger btn-lg">CSS</a><br><br>
    <a [routerLink]="['./bootstrap']" class="btn btn-primary btn-lg">BOOTSTRAP</a>
    <br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet id aliquam esse perferendis veniam accusamus ullam ipsum doloremque, rem, ab maxime temporibus neque fuga animi eos. Unde assumenda neque veniam!</p>

    <br><br>
    <img src="assets/img/3.jpg" alt="" style='height: 700px;width:100%'>
</div>
